*{
    padding: 0px;
    margin: 0px;
}
:root{
   /*color variable*/
   --primary:#8c8c8c;
   --secondary:#575757;
   --text:#7f7d7c;
   --acent:#FFFFFF;
   --minimum:#fc8f49;
   --normal:#000000; 
}
.container{
    width: 1160px;
    margin: 0 auto;
}
/*header-part*/
section#header-section {
    display: flex;
}
.main-header {
    display: flex;
    justify-content: space-between;
    background-color:#EBF8FF;
}
.header-left {
    padding-top: 10%;
}
 h1.primary {
    font-size: 50px;
    font-weight: 600;
}
span {
    color: var(--minimum);
}
p.secondary {
    color: var(--text);
    padding-top: 7%;
    font-size: 18px;
    line-height: 140%;
}
a.butn {
    text-decoration: none;
    color: var(--acent);
    padding: 13px 21px;
    background: var(--minimum);
    border-radius: 29px;
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
}
.logo img {
    padding-top: 8%;
}
/*banner part*/
section#banner-section {
    display: flex;
    justify-content: space-between;
    background: #FFEDF9;
}
.content {
    display: flex;
    justify-content: space-between;
}
.logos img {
    width: 200px;
    padding-top: 22%;
}
.banner-right {
    padding: 5% 6%;
}
h1.primary-title {
    color: var(--secondary);
    font-size: 46px;
}

/*Recepies part*/
.main-content {
    margin: 4%;
}
h2.primary-title {
    text-align: center;
    font-size: 35px;
    color: var(--secondary);
}
p.secondarys {
    text-align: center;
    padding-top: 32px;
    color: var(--secondary);
    font-size: 18px;
}