*{
    padding: 0px;
    margin: 0px;
}
:root{
   /*color variable*/
   --primary:#8c8c8c;
   --secondary:#575757;
   --text:#7f7d7c;
   --acent:#FFFFFF;
   --minimum:#fc8f49;
   --normal:#000000; 
}
.container{
    width: 1160px;
    margin: 0 auto;
}
/*header-part*/
section#header-section {
    display: flex;
}
.main-header {
    display: flex;
    justify-content: space-between;
    background-color:#EBF8FF;
}
.header-left {
    padding-top: 10%;
}
 h1.primary {
    font-size: 50px;
    font-weight: 600;
}
span {
    color: var(--minimum);
}
p.secondary {
    color: var(--text);
    padding-top: 7%;
    font-size: 18px;
    line-height: 140%;
}
a.butn {
    text-decoration: none;
    color: var(--acent);
    padding: 13px 21px;
    background: var(--minimum);
    border-radius: 29px;
    display: inline-block;
    margin-top: 30px;
    font-size: 20px;
}
.logo img {
    padding-top: 8%;
}
/*banner part*/
section#banner-section {
    display: flex;
    justify-content: space-between;
    background: #FFEDF9;
}
.content {
    display: flex;
    justify-content: space-between;
}
.logos img {
    width: 200px;
    padding-top: 22%;
}
.banner-right {
    padding: 5% 6%;
}
h1.primary-title {
    color: var(--secondary);
    font-size: 46px;
}

/*Recepies part*/
.main-content {
    margin: 4%;
}
h2.primary-title {
    text-align: center;
    font-size: 35px;
    color: var(--secondary);
}
p.secondarys {
    text-align: center;
    padding-top: 32px;
    color: var(--secondary);
    font-size: 18px;
}
/*menu-item part*/
.content-items {
    display: flex;
}
img.images {
    width: 79%;
    border-radius: 4%;
}
.item.name {
    margin-left: 1%;
    box-shadow: 4px 11px 10px antiquewhite;
    padding: 22px;
    border-radius: 5%;
}
.item.name h1 {
    font-size: 32px;
}
/*page Followers*/
.pages {
    display: flex;
    margin: 4%;
    background: whitesmoke;
    border-radius: 11px;
}
.page_variety h1 {
    text-align: center;
    font-size: 30px;
}
.page_variety {
    padding: 5% 9%;
}
/*form-section*/
.title {
    text-align: center;
    font-size: 23px;
    margin-bottom: 33px;
    color: var(--secondary);
    margin-top: 86px;
}
input[type="text"], [type="email"], textarea {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid var(--primary);
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
}
input[type="submit"] {
    /* text-align: center; */
    background-color: darkorange;
    padding: 19px 58px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 34px;
}
/*last section*/
.lastcontent {
    background: black;
    padding: 10%;
}
.lastcontent h1 {
    color: white;
    text-align: center;
    font-size: 25px;
}
.lastcontent h2 {
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 26px;
}
